@import "bootstrap/bootstrap.less";
@import "clearsans.less";
@import "retina.less";
@import "setup.less";
@import "radial.less";

.header {
  height: 48px;
  border-bottom: 1px solid #eee;
  -webkit-app-region: drag;
  -webkit-user-select: none;

  .buttons {
    display: inline-block;
    position: relative;
    top: 16px;
    left: 20px;

    &:hover {
      .button-minimize {
        .at2x('minimize.png', 10px, 10px);
      }
      .button-close {
        .at2x('close.png', 10px, 10px);
      }
      .button-fullscreen {
        .at2x('fullscreen.png', 10px, 10px);
      }
      .button-fullscreenclose {
        .at2x('fullscreenclose.png', 10px, 10px);
      }
    }

    .button {
      box-sizing: border-box;
      display: inline-block;
      background: white;
      margin-right: 9px;
      height: 12px;
      width: 12px;
      border: 1px solid #CACDD0;
      border-radius: 6px;
      box-shadow: 0px 1px 1px 0px rgba(234,234,234,0.50);
      -webkit-app-region: no-drag;

      &:hover {
        box-shadow: 0px 1px 1px 0px rgba(195,198,201,0.50);
      }

      &:hover:active {
        cursor: default;
        -webkit-filter: brightness(92%);
      }
    }
  }
}

.container-list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  min-width: 256px;

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
  }

  li {

    &:hover {
      background: #efefef;
    }

    padding: 14px 24px;
    border-bottom: 1px solid #eee;

    .name {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 15px;
      font-weight: 400;
      color: #444;
    }

    .image {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-top: 2px;
      font-size: 13px;
      color: #888;
    }
  }
}

.containers {
  overflow: hidden;
  height: 100%;

  .containers-body {
    display: flex;
    height: 100%;

    .sidebar {
      height: 100%;
      overflow: hidden;
      min-width: 256px;
      // border-right: 1px solid #eee;
      margin: 0;
      box-sizing: border-box;
      display: flex;

      .status {
        font-size: 12px;
        font-variant: small-caps;
        color: @brand-primary;
      }
    }

    .details {
      width: auto;
      margin: 0;
      padding: 0;
      position: relative;
      box-sizing: border-box;
      display: flex;
      height: 100%;
      overflow: hidden;

      .details-header {
        padding: 14px 45px;
        background: white;
        width: 100%;
        h1 {
          display: inline-block;
          font-size: 24px;
        }
        h2 {
          margin-left: 18px;
          font-size: 14px;
          display: inline-block;
          font-variant: small-caps;

          &.status {
            color: @brand-success;
          }

          &.image {

          }
        }
      }

      .logs {
        user-select: text;
        overflow: auto;
        font-family: Menlo;
        font-size: 12px;
        padding: 44px 45px;
        p {
          margin: 6px;
        }
      }
    }
  }
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;

  user-select: none;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: 'Helvetica Neue', sans-serif;
}
