<template name="modal_create_image">
  <div class="modal fade" id="modal-create-image" tabindex="-1" role="dialog" aria-labelledby="modal-create-image" aria-hidden="true">
    <div class="modal-dialog modal-small">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h5 class="modal-title">Create Image</h5>
        </div>
        <div class="modal-body">
          <div class="center">
            <p>Select a folder with Dockerfile to build your image.</p>
            <h5 id="picked-directory"></h5>
            <h6 id="picked-directory-error" class="error"></h6>
            <a onclick="trackLink('pick image folder')" href="#" id="btn-pick-directory" class="btn btn-positive btn-sm"><span class="typcn typcn-folder-open"></span> Select Folder</a>
            <input id="directory-picker" type="file" style="display: none;" nwdirectory />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
          <button onclick="trackLink('confirm create image')" id="btn-create-image" type="button" class="btn btn-sm btn-action" disabled="disabled">Create Image</button>
        </div>
      </div>
    </div>
  </div>
</template>
