.DS_Store
.demeteorized
dist
node_modules
package
cache
bin

# Resources
resources/virtualbox-*.pkg
resources/boot2docker*
resources/mongod
resources/MONGOD_LICENSE.txt
resources/node
resources/NODE_LICENSE.txt
resources/settings.json

# Cache
cache

script/sign.sh
