.DS_Store
.swp
build
dist
node_modules
coverage
npm-debug.log

# Signing Identity
identity*

# Resources
resources/docker-*
resources/boot2docker-*

# Cache
cache

# Tests
.test
settings.json

# IDEs
.idea
