.DS_Store
.swp
build/
dist/
dist-electron-builder/
installer
node_modules/
release/
src/**/*.js
src/**/*.jsx
src/**/*.js.map
src/**/*.jsx.map
coverage/
npm-debug.log

# Integration test environment
integration/

# Resources
resources/docker*
resources/boot2docker*

# Cache
cache/

# Tests
.test
settings.json

# IDEs
.idea
