<template name="setup_install">
  {{#if isUpdating}}
    <h2>Updating</h2>
    <p>This may take a few minutes.</p>
  {{else}}
    <h2>Installing</h2>
    <p>This may take a few minutes.</p>
  {{/if}}
  <div class="container text-left">
    <div class="steps">
      {{#each steps}}
        <div class="media">
          {{#if $gt this.index currentInstallStep}}
            <span class="pull-left">
              <img src="/step_pending.png">
            </span>
            <div class="media-body">
              {{this.futureMessage}}
            </div>
          {{/if}}
          {{#if $lt this.index currentInstallStep}}
            <span class="pull-left">
              <img src="/step_finished.png">
            </span>
            <div class="media-body">
              {{this.pastMessage}}
            </div>
          {{/if}}
          {{#if $eq this.index currentInstallStep}}
            <span class="pull-left">
              {{#if $eq this.index failedStep}}
                <img src="/step_failed.png">
              {{else}}
                {{#if currentInstallStepProgress}}
                  {{> radial_progress progress=currentInstallStepProgress}}
                {{else}}
                  {{> spinner}}
                {{/if}}
              {{/if}}
            </span>
            <div class="media-body">
              {{this.message}}
              {{#if $eq this.index failedStep}}
                <p>{{failedError}}</p>
              {{else}}
                {{#if this.subMessage}}
                  <p>{{this.subMessage}}</p>
                {{/if}}
              {{/if}}
            </div>
          {{/if}}
        </div>
      {{/each}}
    </div>
  </div>
</template>
