<template name="setup_intro">
  {{#if isUpdating}}
    <h2>Welcome Back</h2>
    <p>Kitematic needs to update itself to continue.</p>
  {{else}}
    <h2>Welcome to Kitematic</h2>
    <p>This will set up everything needed to run Kitematic on your Mac.</p>
  {{/if}}
  <div class="container text-center">
    <div class="install_logo">
      <img src="/install_logo.png">
    </div>
    <div class="install-continue">
      <a onclick="trackLink('continue install')" class="continue-button">
        <img src="/continue.png">
        <p>Continue</p>
      </a>
    </div>
  </div>
</template>
