<template name="dashboardSettings">
  <div class="header">
    <h3>Settings</h3>
  </div>
  <div class="content">
    <div class="section dashboard-settings">
      <div class="left-section">
        <h4>Boot2Docker VM</h4>
      </div>
      <div class="right-section">
        {{#if disk}}
          <div class="utilization disk-utilization">
            <div><strong>Disk Utilization</strong><span class="pull-right">{{disk.used_gb}}GB used of {{disk.total_gb}}GB</span></div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: {{disk.percent}}%;">
                {{disk.percent}}%
              </div>
            </div>
          </div>
        {{/if}}
        {{#if memory}}
          <div class="utilization memory-utilization">
            <div><strong>Memory Utilization</strong><span class="pull-right">{{memory.used_gb}}GB used of {{memory.total_gb}}GB</span></div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: {{memory.percent}}%;">
                {{memory.percent}}%
              </div>
            </div>
          </div>
        {{/if}}
      </div>
    </div>
    <div class="section dashboard-settings">
      <div class="left-section">
        <h4>Usage Diagnostics</h4>
        <p class="help-block">Send anonymized usage diagnostics to help us improve Kitematic.</p>
      </div>
      <div class="right-section">
        {{#if metricsEnabled}}
          <a onclick="Metrics.trackEvent('settings disable metrics')" class="btn btn-negative btn-usage-analytics-off">Turn Off Usage Diagnostics</a>
        {{else}}
          <a onclick="Metrics.trackEvent('settings enable metrics')" class="btn btn-positive btn-usage-analytics-on">Turn On Usage Diagnostics</a>
        {{/if}}
      </div>
    </div>
  </div>
</template>
