<template name="dashboard_apps_settings">
  <div class="section">
    <div class="left-section">
      <h4>Container Details</h4>
      <p class="help-block">This section lists more information about this container.</p>
    </div>
    <div class="right-section">
      <div class="row">
        <div class="col-xs-3">
          <label>Host URL</label>
        </div>
        <div class="col-xs-8">
          {{hostUrl}}
        </div>
      </div>
      {{#if ports}}
        <div class="row">
          <div class="col-xs-3">
            <label>Ports</label>
          </div>
          <div class="col-xs-8">
            {{ports}}
          </div>
        </div>
      {{/if}}
      <div class="row">
        <div class="col-xs-3">
          <label>Status</label>
        </div>
        <div class="col-xs-8">
          {{status}}
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="left-section">
      <h4>Config Variables</h4>
      <p class="help-block">You can update your container's environment variables here.</p>
    </div>
    <div class="right-section">
      <form class="form-env-vars wide">
        <div class="row">
          <div class="col-xs-5">
            <label>Key</label>
          </div>
          <div class="col-xs-5">
            <label>Value</label>
          </div>
        </div>
        {{#each arrayify config }}
          <div class="env-var-pair">
            <div class="env-var-key" data-key="{{name}}" title="{{name}}">{{name}}</div>
            <div class="env-var-value" data-value="{{value}}" title="{{value}}">{{value}}</div>
            <div class="options">
              <a href="#" onclick="trackLink('delete environment variable')" class="btn btn-negative btn-xs btn-delete-var" data-app-id="{{../_id}}" data-key="{{name}}"><i class="fa fa-times"></i></a>
            </div>
          </div>
        {{/each}}
        <div class="row form-group">
          <div class="col-xs-5">
            <input type="text" name="env-var-key" class="form-control" placeholder="New Key">
          </div>
          <div class="col-xs-5">
            <input type="text" name="env-var-value" class="form-control" placeholder="New Value">
          </div>
        </div>
        <button onclick="trackLink('add environment variable')" type="submit" class="btn btn-action btn-sm">Save Variable</button>
      </form>
    </div>
  </div>
  <div class="section">
    <div class="left-section">
      <h4>Delete Container</h4>
      <p class="help-block">Delete this container permanently.</p>
    </div>
    <div class="right-section">
      <a onclick="trackLink('delete container')" class="btn btn-negative btn-delete-app btn-sm">Delete Container</a>
    </div>
  </div>
</template>
