<template name="dashboardApps">
  <div class="header">
    <h3>Containers</h3>
    <div class="options">
      {{#if $.Session.equals 'boot2dockerState' 'poweroff'}}
        <a href="#" data-toggle="modal" data-target="#modal-create-app" class="btn btn-action" disabled="disabled"><span class="typcn typcn-plus-outline"></span> Create Container</a>
      {{else}}
        <a href="#" onclick="Metrics.trackEvent('container create modal')" data-toggle="modal" data-target="#modal-create-app" class="btn btn-action"><span class="typcn typcn-plus-outline"></span> Create Container</a>
      {{/if}}
    </div>
  </div>
  <div class="content">
    <div class="padded">
      {{#if hasItem apps}}
        <div class="apps line-item-collection">
          {{#each apps}}
            {{> dashboardSingleApp}}
          {{/each}}
        </div>
      {{else}}
        <div class="empty-placeholder">
          <div class="big-icon"><i class="fa fa-cube"></i></div>
          <h4>There are no containers yet.</h4>
          {{#if $.Session.equals 'boot2dockerState' 'poweroff'}}
            <a href="#" data-toggle="modal" data-target="#modal-create-app" class="btn btn-action" disabled="disabled"><span class="typcn typcn-plus-outline"></span> Create Container</a>
          {{else}}
            <a href="#" onclick="Metrics.trackEvent('container create modal')" data-toggle="modal" data-target="#modal-create-app" class="btn btn-action"><span class="typcn typcn-plus-outline"></span> Create Container</a>
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
  {{> modalCreateApp}}
  {{> modalCreateImage}}
</template>
