<template name="dashboardAppsSettings">
  {{#if ports}}
    <div class="section">
      <div class="left-section">
        <h4>Ports</h4>
      </div>
      <div class="right-section">
        <ul class="list-unstyled">
          {{> dashboardAppsPorts}}
        </ul>
      </div>
    </div>
  {{/if}}
  <div class="section">
    <div class="left-section">
      <h4>Environment Variables</h4>
      <p class="help-block">You can update your container's environment variables here.</p>
    </div>
    <div class="right-section">
      <form class="form-env-vars wide">
        <div class="row">
          <div class="col-xs-5">
            <label>Key</label>
          </div>
          <div class="col-xs-5">
            <label>Value</label>
          </div>
        </div>
        {{#each arrayify config }}
          <div class="env-var-pair">
            <div class="env-var-key" data-key="{{name}}" title="{{name}}">{{name}}</div>
            <div class="env-var-value" data-value="{{value}}" title="{{value}}">{{value}}</div>
            <div class="options">
              <a href="#" onclick="Metrics.trackEvent('container remove environment variable')" class="btn btn-negative btn-xs btn-delete-var" data-app-id="{{../_id}}" data-key="{{name}}"><i class="fa fa-times"></i></a>
            </div>
          </div>
        {{/each}}
        <div class="row form-group">
          <div class="col-xs-5">
            <input type="text" name="env-var-key" class="form-control" placeholder="New Key">
          </div>
          <div class="col-xs-5">
            <input type="text" name="env-var-value" class="form-control" placeholder="New Value">
          </div>
        </div>
        <button onclick="Metrics.trackEvent('container add environment variable')" type="submit" class="btn btn-action btn-sm">Save Variable</button>
      </form>
    </div>
  </div>
  <div class="section">
    <div class="left-section">
      <h4>Volumes</h4>
      <p class="help-block">When enabled, this container's volume data will be available under ~/Kitematic/{{name}}.</p>
    </div>
    <div class="right-section">
      {{#if volumesEnabled}}
        <a onclick="Metrics.trackEvent('container enable volumes')" class="btn btn-negative btn-disable-volumes btn-sm">Disable Volumes</a>
      {{else}}
        <a onclick="Metrics.trackEvent('container disable volumes')" class="btn btn-positive btn-enable-volumes btn-sm">Enable Volumes</a>
      {{/if}}
    </div>
  </div>
  <div class="section">
    <div class="left-section">
      <h4>Delete Container</h4>
      <p class="help-block">Delete this container permanently.</p>
    </div>
    <div class="right-section">
      <a onclick="Metrics.trackEvent('container delete')" class="btn btn-negative btn-delete-app btn-sm">Delete Container</a>
    </div>
  </div>
</template>
