<template name="dashboardAppsLayout">
  {{setTitle this.name}}
  <input id="appId" type="hidden" value="{{this._id}}">
  <div class="dashboard">
    <div class="container">
      <div class="dashboard-row">
        {{> dashboardMenu}}
        <div class="dashboard-body">
          {{> menuHeader}}
          <div class="header">
            <h3>
              <a href="/apps" onclick="Metrics.trackEvent('container back to list')">Containers</a> &raquo; {{this.name}}
              <span class="icons">
                {{#if $eq status 'READY'}}
                  <a onclick="Metrics.trackEvent('container details terminal')" href="#" class="btn-terminal" data-toggle="tooltip" data-placement="bottom" title="Terminal" data-container="body"><span class="typcn typcn-device-laptop"></span></a>
                  {{#if image}}
                    <a onclick="Metrics.trackEvent('container details view image details')" href="/images/{{image._id}}" class="btn-image" data-toggle="tooltip" data-placement="bottom" title="Image" data-container="body"><span class="typcn typcn-camera-outline"></span></a>
                  {{/if}}
                {{/if}}
                <a onclick="Metrics.trackEvent('container details volume directory')" href="#" class="btn-folder" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Folder" data-container="body"><span class="typcn typcn-folder-open"></span></a>
                {{#if $eq status 'READY'}}
                  <a href="#" onclick="Metrics.trackEvent('container details stop')" class="btn-icon btn-stop" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Stop"><span class="typcn typcn-media-stop-outline"></span></a>
                {{/if}}
                {{#if $eq status 'STOPPED'}}
                <a href="#" onclick="Metrics.trackEvent('container details start')" class="btn-icon btn-start" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Start"><span class="typcn typcn-media-play-outline"></span></a>
                {{/if}}
                <a onclick="Metrics.trackEvent('container details restart')" href="#" class="btn-restart" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Restart" data-container="body"><span class="typcn typcn-refresh-outline"></span></a>
              </span>
            </h3>
            <div class="options">
              <a onclick="Metrics.trackEvent('container details logs')" href="/apps/{{this.name}}/logs" class=" btn btn-action {{activeDashboardSubMenuItem 'logs'}} btn-logs"><span class="typcn typcn-document-text"></span> Logs</a>
              <a onclick="Metrics.trackEvent('container details settings')" href="/apps/{{this.name}}/settings" class="btn btn-action {{activeDashboardSubMenuItem 'settings'}}"><span class="typcn typcn-cog-outline"></span> Settings</a>
            </div>
          </div>
          <div class="content">
            {{> yield}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
