<template name="dashboardImagesSettings">
  <div class="section">
    <div class="left-section">
      <h4>Image Details</h4>
      <p class="help-block">This section lists more information about this image.</p>
    </div>
    <div class="right-section">
      <div class="row">
        <div class="col-xs-3">
          <label>Name</label>
        </div>
        <div class="col-xs-8">
          {{meta.name}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <label>Status</label>
        </div>
        <div class="col-xs-8">
          {{status}}
        </div>
      </div>
      {{#if meta.version}}
        <div class="row">
          <div class="col-xs-3">
            <label>Version</label>
          </div>
          <div class="col-xs-8">
            {{meta.version}}
          </div>
        </div>
      {{/if}}
      {{#if meta.author}}
        <div class="row">
          <div class="col-xs-3">
            <label>Author</label>
          </div>
          <div class="col-xs-8">
            {{meta.author}}
          </div>
        </div>
      {{/if}}
      {{#if meta.description}}
        <div class="row">
          <div class="col-xs-3">
            <label>Description</label>
          </div>
          <div class="col-xs-8">
            {{meta.description}}
          </div>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="section">
    <div class="left-section">
      <h4>Build Directory</h4>
      <p class="help-block">You can change the folder of which your image will be built from.</p>
    </div>
    <div class="right-section">
      <h5><strong>{{this.path}}</strong></h5>
      <h6 id="picked-directory-error" class="error"></h6>
      <a onclick="trackLink('change build directory')" href="#" id="btn-pick-directory" class="btn btn-positive btn-sm"><span class="typcn typcn-folder-open"></span> Change Directory</a>
    </div>
  </div>
  <div class="section">
    <div class="left-section">
      <h4>Delete Image</h4>
      <p class="help-block">Delete this image permanently.</p>
    </div>
    <div class="right-section">
      <a onclick="trackLink('delete image')" class="btn btn-negative btn-delete-image btn-sm">Delete Image</a>
      <div id="error-delete-image" class="error no-display"></div>
    </div>
  </div>
</template>
