<template name="dashboard_images_logs">
  <div class="download-status">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{this.downloadPercentage}};">
        {{#if $neq this.downloadPercentage '100%'}}
          {{this.downloadPercentage}}
        {{else}}
          {{{this.downloadStatus}}}
        {{/if}}
      </div>
    </div>
  </div>
  <div class="logs">
    {{#each buildLogs}}
      <h6>{{{this}}}</h6>
    {{/each}}
  </div>
</template>
