.details-panel .settings {
  display: flex;
  flex: 1 auto;
  flex-direction: column;
  background-color: white;
  margin: 1rem;
  margin-bottom: 0;
  border: 1px solid @color-divider;
  border-radius: @border-radius;
  .settings-menu {
    display: flex;
    flex: 0 auto;
    height: 40px;
    border-bottom: 1px solid @color-divider;
    ul {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: flex-end;
      a {
        color: @gray-normal;
        cursor: default;
        outline: none;
        &.active {
          li {
            border-bottom: 2px solid @brand-primary;
            color: @gray-darkest;
          }
        }
        &:hover {
          text-decoration: none;
          li {
            cursor: default;
            color: @gray-darkest;
          }
        }
        &:focus {
          text-decoration: none;
        }
      }
      li {
        transition: all 140ms;
        vertical-align: middle;
        padding: 0.9rem 1.6rem;
        display: flex;
        flex-direction: row;
      }
    }
  }
  .settings-panel {
    padding: 2rem;
    flex: 1 auto;
    overflow-x: hidden;
    h3 {
      margin-top: 0;
      color: @gray-darker;
      font-weight: 400;
      font-size: 18px;
    }
    .settings-section {
      margin-bottom: 4rem;
    }
    .container-name {
      margin-bottom: 2rem;
      input {
        width: 100%;
        max-width: 500px;
      }
      p {
        font-weight: 300;
        margin-top: 5px;
        color: @gray-lighter;
        font-size: 12px;
        strong {
          font-weight: 500;
        }
      }
    }
    .env-vars-labels {
      width: 100%;
      font-size: 12px;
      color: @gray-light;
      margin-left: 5px;
      margin-bottom: 5px;
      margin-top: 20px;
      .label-key {
        display: inline-block;
        margin-right: 30px;
        width: 30%;
      }
      .label-val {
        display: inline-block;
        width: 50%;
      }
    }
    .env-vars {
      margin-bottom: 20px;
      .keyval-row {
        margin-bottom: 5px;
      }
      input {
        margin-right: 30px;
        &.key {
          width: 30%;
        }
        &.val {
          width: 50%;
        }
      }
    }
    .table {
      margin-bottom: 0;
      .icon-arrow-right {
        color: #BBB;
        font-size: 20px;
        margin: 0px 10px;
        flex: 0 auto;
        min-width: 13px;
      }
      &.ports {
        .table-labels {
          margin-top: 20px;
          flex: 1 auto;
          display: flex;
          font-size: 12px;
          color: @gray-light;
          .label-left {
            flex: 0 auto;
            min-width: 85px;
            margin-right: 30px;
            text-align: right;
          }
          .label-right {
            flex: 1 auto;
            display: inline-block;
            margin-left: 10px;
            width: 40%;
          }
        }
        .table-values {
          flex: 1 auto;
          display: flex;
          flex-direction: row;
          margin: 8px 0;
          .value-left {
            text-align: right;
            min-width: 85px;
            flex: 0 auto;
            padding: 0px;
          }
          .value-right {
            flex: 1 auto;
            -webkit-user-select: text;
            max-width: 170px;
            padding: 0px;
          }
          label {
            margin-left: 8px;
            margin-top: 1px;
            font-weight: 400;
            font-size: 13px;
          }
          input[type="checked"] {

          }
        }
      }
      &.volumes {
        .table-labels {
          margin-top: 20px;
          flex: 1 auto;
          display: flex;
          font-size: 12px;
          color: @gray-light;
          .label-left {
            flex: 0 auto;
            margin-right: 30px;
          }
          .label-right {
            flex: 1 auto;
            display: inline-block;
            margin-left: 10px;
          }
        }
        .table-values {
          flex: 1 auto;
          display: flex;
          flex-direction: row;
          margin: 8px 0;
          .value-left {
            flex: 0 auto;
            padding: 0px;
          }
          .value-right {
            flex: 1 auto;
            -webkit-user-select: text;
            padding: 0px;
          }
          .btn {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
