/* Sidebar */

.sidebar {
  background-color: white;
  margin: 0;
  border-right: 1px solid @color-divider;
  display: flex;
  flex-direction: column;
  min-width: @sidebar-width;
  box-sizing: border-box;
  position: relative;
  .sidebar-header {
    flex: 0 auto;
    min-width: @sidebar-width;
    min-height: 45px;
    display: flex;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.25s;
    &.sep {
      border-bottom: 1px solid @color-divider;
      box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.03);
    }
    h4 {
      align-self: flex-start;
      padding: 0.4rem 0 0 1.4rem;
      display: inline-block;
      position: relative;
    }
    .create {
      display: flex;
      flex: 1 auto;
      justify-content: flex-end;
      margin: 0.8rem 1rem 0 0;
      a {
        display: block;
        text-decoration: none;
        cursor: default;
        &:focus {
          outline: 0;
        }
        &.active {
          .btn-new {
            opacity: 0.3;
            &:hover {
              color: @brand-action;
            }
          }
        }
        .btn-new {
          display: block;
          font-size: 24px;
          color: @brand-action;
          transition: all 0.25s;
          &:hover {
            color: darken(@brand-action, 15%);
          }
        }
      }
    }
  }
  .sidebar-containers {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    max-width: @sidebar-width;
    ul {
      flex: 1 auto;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      .new-container-item {
        .info {
          position: relative;
          top: 9px;
        }
      }
      a {
        color: inherit;
        flex-shrink: 0;
        cursor: default;
        outline: none;
        &:hover {
          text-decoration: none;
          cursor: default;
        }
        &:first-child {
          li {
            //border-top: 1px solid @color-divider;
          }
        }
        &:focus {
          text-decoration: none;
        }
        &.active {
          background: @brand-action;
          li {
            height: 45px;
            border-bottom: none;
            background-color: @brand-primary;
            .name {
              color: white;
            }
            .image {
              color: white;
              opacity: 0.8;
            }
            .btn-delete {
              font-size: 24px;
              color: white;
              position: relative;
              z-index: 9999;
            }
            .state-new {
              .at2x('container-white.png', 20px, 20px);
            }
            .state-running {
              .at2x('running-white.png', 20px, 20px);
              .runningwave {
                .at2x('runningwave-white.png', 20px, 20px);
              }
            }
            .state-paused {
              .at2x('wavy-white.png', 20px, 20px);
            }
            .state-stopped {
              .at2x('stopped-white.png', 20px, 20px);
            }
            .state-downloading {
              .at2x('downloading-white.png', 20px, 20px);
              .downloading-arrow {
                .at2x('downloading-arrow-white.png', 20px, 20px);
              }
            }
          }
        }
      }
      li {
        vertical-align: middle;
        padding: 0.7rem 1rem 0.7rem 1.4rem;
        display: flex;
        flex-direction: row;
        height: 45px;
        //border-bottom: 1px solid @color-divider;
        &:hover {
          background-color: @color-box-button;
        }
        .info {
          margin-left: 1rem;
          .name {
            text-overflow: ellipsis;
            max-width: @sidebar-text-overflow-width;
            white-space: nowrap;
            overflow: hidden;
            font-size: 12px;
            font-weight: 400;
            color: @gray-darkest;
          }
          .image {
            color: @gray-light;
            font-size: 9px;
            font-weight: 400;
            text-overflow: ellipsis;
            max-width: @sidebar-text-overflow-width;
            white-space: nowrap;
            overflow: hidden;
          }
        }
        .action {
          display: none;
          flex: 1;
          position: relative;
          top: 0.2rem;
          text-align: right;
          .btn-delete {
            font-size: 24px;
            color: @gray-lighter;
            position: relative;
            z-index: 9999;
          }
        }
        .state {
          margin-top: 0.6rem;
          display: inline-block;
          position: relative;
          min-width: 20px;
          height: 20px;
        }
        .state-error {
          .at2x('error.png', 20px, 20px);
        }
        .state-stopped {
          .at2x('stopped.png', 20px, 20px);
        }
        .state-paused {
          .at2x('paused.png', 20px, 20px);
        }
        .state-new {
          .at2x('container.png', 20px, 20px);
        }
        .state-downloading {
          .at2x('downloading.png', 20px, 20px);
          overflow: hidden;
          .downloading-arrow {
            width: 20px;
            height: 20px;
            .at2x('downloading-arrow.png', 20px, 20px);
            position: absolute;
            -webkit-animation-name: translatedownload;
            -webkit-animation-duration: 1.8s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
          }
        }
        .state-running {
          .at2x('running.png', 20px, 20px);
          overflow: hidden;
          .runningwave {
            position: absolute;
            width: 40px;
            height: 20px;
            left: -20px;
            .at2x('runningwave.png', 20px, 20px);
            -webkit-animation-name: translatewave;
            -webkit-animation-duration: 7.0s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
          }
        }
        .state-restarting {
          display: inline-block;
          width: 20px;
          height: 20px;
          .at2x('restarting.png', 20px, 20px);
          background-repeat: repeat-x;
          -webkit-animation-delay: -1s;
          -webkit-animation-name: rotate;
          -webkit-animation-duration: 3.0s;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-timing-function: linear;
        }
      }
    }
  }
}

/* Sidebar Buttons */

.sidebar-buttons {
  border-top: 1px solid @color-divider;
  min-height: 40px;
  flex: 0 auto;
  display: flex;
  flex-direction: row;
  background-color: white;
  opacity: 0.9;
  z-index: 10000;
  .btn-label {
    color: @gray-lighter;
    font-size: 10px;
    height: 18px;
  }
  .btn-sidebar {
    .box-button();
    flex: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 48px;

    &:active {
      img, .text {
        -webkit-filter: brightness(0.9);
      }
    }
  }

  .btn-terminal {
    flex: 1 auto;
    border-right: 1px solid @color-divider;
    color: @brand-primary;
  }
  .btn-feedback {
    border-right: 1px solid @color-divider;
    .icon {
      margin-right: 0;
    }
  }
  .btn-preferences {
    .icon {
      margin-right: 0;
    }
  }
  .btn {
    position: relative;
    top: 1px;
    float: right;
  }
}

.sidebar-buttons-padding {
  position: relative;
  height: 62px;
}
