@import "bootstrap/bootstrap.less";
@import "variables.less";
@import "mixins.less";
@import "theme.less";
@import "icons.less";
@import "retina.less";
@import "setup.less";
@import "radial.less";
@import "preferences.less";
@import "header.less";
@import "layout.less";
@import "left-panel.less";
@import "right-panel.less";
@import "new-container.less";
@import "container-home.less";
@import "container-logs.less";
@import "container-settings.less";
@import "spinner.less";
@import "animation.less";

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  font-family: @font-regular;
  cursor: default;
  img {
    pointer-events: none;
  }
}
