.details {
  background-color: @color-background;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
  .header-section {
    position: absolute;
    top: 10px;
    .text {
      font-size: 14px;
      color: @gray-darker;
      font-weight: 500;
      margin-left: 1.2rem;
      .status {
        font-size: 10px;
        font-weight: 500;
        position: relative;
        left: 1rem;
        &.running {
          color: @brand-positive;
        }
        &.paused {
          color: @gray-lighter;
        }
        &.stopped {
          color: @gray-lighter;
        }
        &.downloading {
          color: @brand-action;
        }
      }
    }
  }
  .details-subheader {
    flex: 0 auto;
    display: flex;
    flex-direction: row;
    position: relative;
    border-bottom: 1px solid @color-divider;
    background-color: white;
    height: 45px;
    font-size: 10px;
    .details-header-actions {
      flex: 1 auto;
      text-align: left;
      .action {
        display: inline-block;
        position: relative;
        width: 60px;
        height: 44px;
        padding-top: 0.2rem;
        .box-button();
        border-right: 1px solid @color-divider;
        &.disabled {
          background-color: white;
          color: fade(@gray-light, 20%);
        }
        .action-icon {
          text-align: center;
          height: 44px;
          .icon {
            font-size: 24px;
            margin-left: 0.6rem;
          }
          &.stop {
            position: relative;
            top: 0.3rem;
            .icon {
              font-size: 20px;
              margin-top: 1rem;
            }
          }
          &.start {
            position: relative;
            top: 0.3rem;
            .icon {
              font-size: 20px;
              margin-top: 1rem;
            }
          }
        }
        .btn-label {
          text-align: center;
          font-size: 8px;
          position: relative;
          top: -1.5rem;
        }
      }
    }
    .details-subheader-tabs {
      margin: 1.2rem 1.2rem 0 0;
      flex: 1 auto;
      text-align: right;
      text-transform: uppercase;
      .tab {
        font-weight: 500;
        min-width: 40px;
      }
    }
  }

  .tab {
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    margin: 0 0.6rem;
    transition: all 0.3s;
    color: @gray-light;
    border-bottom: 3px solid transparent;
    text-align: center;
    min-width: 28px;
    padding-bottom: 0.2rem;
    &.active {
      color: @gray-darkest;
      border-bottom: 3px solid @brand-primary;
    }
    &.disabled {
      opacity: 0.5;
      &:hover {
        color: @gray-light;
        border-bottom: 3px solid transparent;
      }
    }
    &:hover {
      color: @gray-darkest;
    }
  }

  .details-progress {
    flex: 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -70px;
    h2 {
      margin-bottom: 20px;
      text-align: center;
    }
  }
  .details-panel {
    flex: 1;
    overflow: auto;
    background-color: white;
  }
}
