.setup {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  //-webkit-app-region: drag;

  .image {
    display: flex;
    width: 50%;
    height: 100%;
    flex: 0 auto;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
    padding-left: 80px;

    img {
      width: 399px;
      height: 340px;
    }

    .contents {
      position: relative;
      .detail {
        position: absolute;
        right: -20px;
        bottom: 0;
      }
    }
  }

  .desc {
    display: flex;
    width: 50%;
    height: 100%;

    align-items: center;
    padding-left: 40px;

    .content {
      max-width: 320px;

      h1 {
        color: @gray-darkest;
        font-size: 24px;
      }
      h4 {
        color: @gray-lightest;
        font-size: 13px;
        margin-top: -30px;
      }
      p {
        font-size: 13px;
        color: @gray-normal;
        &.error {
          color: @brand-negative;
          background-color: lighten(@brand-negative, 32%);
          padding: 10px;
          border-radius: 4px;
          max-height: 400px;
          overflow: auto;
        }
      }
      .setup-actions {
        button {
          margin-right: 12px;
        }
      }
    }

  }

  p {
    &.error {
      color: @brand-danger;
      word-wrap: break-word;
    }
    margin-top: 20px;
  }
}
