@brand-primary:         #24B8EB;
@brand-action:          #24B8EB;
@brand-positive:        #15CC35;
@brand-negative:        #FF5F52;

@traffic-light-green:             @brand-positive;
@traffic-light-green-border:      #17B230;
@traffic-light-red:               @brand-negative;
@traffic-light-red-border:        #E33E32;
@traffic-light-yellow:            #FFBE05;
@traffic-light-yellow-border:     #E2A100;
@traffic-light-gray:              #E5E5E5;
@traffic-light-gray-border:       #D3D3D3;

@gray-darkest:          #233137;
@gray-darker:           #3f5167;
@gray-normal:           #556473;
@gray-light:            #7a8491;
@gray-lighter:          #c4cdda;
@gray-lightest:         #e6edf4;

@color-divider:         #EDF0F4;
@color-background:      #FCFCFC;

@font-regular:          "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@font-code:             Menlo;

@border-radius:         0.2rem;

@sidebar-width:                   220px;
@sidebar-text-overflow-width:     140px;
